*,
:before,
:after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

* {
  border-color: hsl(var(--border) / 1);
  text-wrap: balance;
}

html,
:host {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;

  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;

  line-height: 1.5;
}

body {
  display: block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: inherit;

  background-color: hsl(var(--background) / 1);
  color: hsl(var(--foreground) / 1);

  line-height: inherit;
  margin: 0;

  background: linear-gradient(
    75deg,
    red 10%,
    green 10% 20%,
    red 20% 30%,
    green 30% 40%,
    red 40% 50%,
    green 50% 60%,
    red 60% 70%,
    green 70% 80%,
    red 80% 90%,
    green 90%
  );
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

button {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
  font-family: inherit;

  transition-property: border-width, color, background-color, border-color, text-decoration-color, fill, stroke, filter;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.transition {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  pointer-events: none;
  vertical-align: middle;
  display: block;
}

hr {
  border-width: 1px;
  width: 100%;
  margin: 0;
}

.letter-tab-switch-selector {
  font-weight: 600 !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  padding: 0.375rem 0.75rem !important;
}

.big-letter {
  font-size: 1.5rem !important;
  line-height: 26px !important;
}

.lighter-icon {
  img {
    filter: invert(40%) !important;
  }
}
