*,
:before,
:after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html,
:host {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;

  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;

  line-height: 1.5;
}

body {
  display: block;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;

  background-color: var(--background);
  color: var(--foreground);

  line-height: inherit;
  margin: 0;
}
