:host {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .progress {
    width: 100%;
    height: 4px;
    background-color: hsl(var(--muted) / 1);
    border-radius: 9999px;
    overflow: hidden;

    .progress__bar {
      height: 100%;
      background: hsl(var(--accent) / 1);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: hsl(var(--accent) / 1);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      &.paused::after {
        opacity: 1;
      }
    }
  }
}
