@let totalCount = selectionStoreService.totalCount(); @let totalQuestions = quizStoreService.questions();

<div class="left-section">
  <span class="count" [class.highlighted]="totalCount > 0">{{ totalCount }}</span>
  <span class="selected">
    @if (totalCount > 1) { {{ 'quiz.selecteds' | translate }} } @else { {{ 'quiz.selected' | translate }} }</span
  >
  <span
    >@if (quizStoreService.delay()) { {{ quizStoreService.delay() }}s } @else {
    <img src="icons/time-off.svg" alt="off" class="timer" />
    }
  </span>
  <span class="questions"
    >{{ quizStoreService.questions() }} @if (totalQuestions > 1) { {{ 'quiz.questions' | translate }} } @else { {{
    'quiz.question' | translate }} }</span
  >
  <span class="mobile-question"> {{ quizStoreService.questions() }} {{ 'quiz.abbrev-questions' | translate }} </span>
</div>
<div class="right-section">
  <app-button
    [icon]="'icons/settings.svg'"
    [text]="'app.settings' | translate"
    [darkMode]="appStoreService.isDarkThemeActive()"
    (clicked)="toggleOpenEvent()"
    class="toggle-btn"
  >
    @if (isOpen()) {
    <img
      [class.dark]="appStoreService.isDarkThemeActive()"
      class="panel-arrow"
      src="icons/chevron-down.svg"
      alt="open"
    />
    } @else {
    <img [class.dark]="appStoreService.isDarkThemeActive()" class="panel-arrow" src="icons/chevron-up.svg" alt="open" />
    }
  </app-button>

  <app-button
    class="start-btn"
    (clicked)="startQuiz()"
    [icon]="'icons/play.svg'"
    [text]="'quiz.start' | translate"
    [color]="'--primary'"
    [inverted]="true"
    [darkMode]="appStoreService.isDarkThemeActive()"
    [disabled]="!quizStoreService.isQuizValid()"
  ></app-button>
</div>
