:host {
  display: flex;
  flex-direction: column;

  .shadow-box {
    padding: 0.5rem 1rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-neutral-100);

    p {
      color: var(--color-blue);
      font-weight: bold;
      font-size: large;
    }
  }
}
