:host {
  border-radius: var(--mat-sys-corner-medium);
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  z-index: 2;

  img {
    width: 100%;
    height: auto;
  }

  .configs {
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    button {
      margin-bottom: 0.5rem;
      width: fit-content;
    }
  }
}

@media (max-width: 768px) {
  :host {
    margin-bottom: 1rem;
  }
}
