:host {
  margin: 0 0 1rem 0;
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;

  button {
    padding: 0.5rem;
    margin-left: 0.5rem;
    font-weight: bold;
    color: var(--color-blue);
    border: 2px solid var(--color-blue);
    background: var(--color-neutral-98) !important;

    &.active {
      color: var(--color-neutral-100);
      background: var(--color-blue) !important;
    }
  }
}
