:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
  padding: 0 1rem 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 80rem;
  color: hsl(var(--muted-foreground) / 1);

  .bar,
  .panel {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0.75rem 1rem;
  }
}
