:host {
  width: 75%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;

  .progress {
    width: 100%;
    height: 8px;
    background-color: var(--color-neutral-98);
    border-radius: 4px;
    overflow: hidden;

    .progress__bar {
      height: 100%;
      background: linear-gradient(90deg, var(--color-blue) 0%, var(--color-green-blue) 100%);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, var(--color-orange) 0%, var(--color-red) 100%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      &.paused::after {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    width: 100%;
  }
}
