:host {
  position: relative;
  display: flex;

  .burger-btn {
    border-radius: calc(var(--radius) - 2px);

    &.is-active {
      border-width: 1px;
    }
  }

  .burger {
    display: none;

    &.burger-visible {
      display: flex;
      position: absolute;
      padding: 0.75rem;
      left: 0;
      top: 3.5rem;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: hsl(var(--background) / 0.95);
      border-radius: calc(var(--radius) - 2px);
      border-width: 1px;
      gap: 0.25rem;
    }

    &.right {
      &.burger-visible {
        right: 0;
        left: unset;
      }
    }
  }
}
