<div class="card-container" [class.flipped]="sessionService.flipped()" [class]="sessionService.cardAnimation()">
  <button (click)="sessionService.toggleFlip()" class="card-face shadow-box recto">
    @if (letter().display === LATIN) {
    <h1>{{ letter().character.roman }}</h1>
    <p>{{ letter().exampleWord.roman }}</p>
    <p>{{ letter().exampleWord[i18nService.activeLanguage()] }}</p>
    } @else {
    <h1 class="thai-char">{{ letter().character.thai }}</h1>
    }
    <p class="indication">{{ 'quiz.flip' | translate }}</p>
  </button>
  <button (click)="sessionService.toggleFlip()" class="card-face shadow-box verso">
    @if (letter().display === LATIN) {
    <h1 class="thai-char">{{ letter().character.thai }}</h1>
    } @else {
    <h1>{{ letter().character.roman }}</h1>
    <p>{{ letter().exampleWord.roman }}</p>
    <p>{{ letter().exampleWord[i18nService.activeLanguage()] }}</p>
    }
  </button>
</div>
