:host {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-blue);
  border-radius: var(--mat-sys-corner-medium);
  background-color: var(--color-blue-90);

  h1 {
    font-weight: bold;
    color: var(--color-blue-40);
  }

  p {
    color: var(--color-blue-40);
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;

    .number {
      font-weight: bold;
    }
  }
}
