:host {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;

  .title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;

    .chevron {
      width: 1rem;
      height: 1rem;
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0.5;

      &.collapsed {
        transform: rotate(-180deg);
      }
    }

    .dot {
      border-radius: 100%;
      width: 0.625rem;
      height: 0.625rem;
      background-color: hsl(var(--card-color) / 1);
    }

    h3 {
      color: hsl(var(--foreground) / 1);
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin: 0;
    }

    span {
      color: hsl(var(--muted-foreground) / 1);
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }

  .buttons {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }
}
