:host {
  position: sticky;
  top: 0;
  border-bottom-width: 1px;
  background-color: hsl(var(--background) / 0.8);
  z-index: 50;

  .burger-container {
    display: none;
  }

  .inline-items {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
  }

  @media (max-width: 768px) {
    .inline-items {
      display: none;
    }

    .burger-container {
      display: grid;
    }
  }
}
