:host {
  display: flex;
  padding: 0.125rem;
  background-color: hsl(var(--muted) / 0.5);
  border: 1px solid hsl(var(--border) / 1);
  border-radius: calc(var(--radius) - 2px);
  align-items: center;

  button {
    transition: none;
    color: hsl(var(--muted-foreground) / 1);
    line-height: 1;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: calc(var(--radius) - 4px);
    cursor: pointer;
    text-transform: none;

    &.active {
      background-color: hsl(var(--background) / 1);
      color: hsl(var(--foreground) / 1);

      --shadow: 0 1px 2px 0 #0000000d;
      --shadow-colored: 0 1px 2px 0 var(--shadow-color);
      box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
    }
  }
}
