@for (item of list(); track item.id) {
<button
  (click)="activate(item.id)"
  [class.dark]="dark()"
  [class.right-icon]="item.icon.right"
  [class.active]="item.id === activeIndex()"
  [class]="item.class"
  [class.small]="size() === SMALL"
  [class.medium]="size() === MEDIUM"
  [class.large]="size() === LARGE"
>
  @if (item.icon.display) {
  <img class="icon" [src]="item.icon.path" [alt]="item.icon.alt" />
  } @if (item.label.display) { @if (labelTemplate()) {
  <ng-container *ngTemplateOutlet="labelTemplate(); context: { $implicit: item }" />
  } @else {
  <span>{{ item.label.text }}</span>
  } }
  <ng-content />
</button>
}
