button {
  border-radius: calc(var(--radius) - 2px);
  white-space: nowrap;
  gap: 0.375rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  text-transform: none;
  padding: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;

  &.uppercase {
    text-transform: uppercase;
  }

  &.right-icon {
    flex-direction: row-reverse;
  }

  @media (pointer: fine) {
    &:not(.dark):hover {
      color: hsl(var(--accent-foreground) / 1);
      background-color: hsl(var(--accent) / 1);

      img {
        filter: invert(100%);
      }
    }
  }

  &.dark {
    color: hsl(var(--accent-foreground) / 1);

    img {
      filter: invert(100%);
    }

    @media (pointer: fine) {
      &:hover {
        background-color: hsl(var(--accent) / 1);
      }
    }
  }
}
