button {
  border-radius: calc(var(--radius) - 2px);
  white-space: nowrap;
  gap: 0.375rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  text-transform: none;
  padding: 0.75rem;
  font-weight: 500;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.right-icon {
    flex-direction: row-reverse;
  }

  &.inverted {
    color: hsl(var(--accent-foreground) / 1);
    background-color: hsl(var(--color) / 1);
    border: 1px solid hsl(var(--color) / 1);

    @media (pointer: fine) {
      &:hover {
        background-color: hsl(var(--color) / 0.9) !important;
        border-color: hsl(var(--color) / 0.9) !important;
      }
    }

    img {
      filter: invert(100%);
    }
  }

  &.small {
    font-size: 0.75rem;
    line-height: 1rem;

    .icon {
      height: 1rem;
      width: 1rem;
    }
  }

  &.medium {
    font-size: 1rem;
    line-height: 1.25rem;

    .icon {
      height: 1.25rem;
      width: 1.25rem;
    }
  }

  &.large {
    font-size: 1.25rem;
    line-height: 1.5rem;

    .icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  @media (pointer: fine) {
    &:not(.dark):not(.disabled):hover {
      color: hsl(var(--accent-foreground) / 1);
      background-color: hsl(var(--color) / 1);

      img {
        filter: invert(100%);
      }
    }
  }

  &.dark {
    color: hsl(var(--accent-foreground) / 1);

    img {
      filter: invert(100%);
    }

    @media (pointer: fine) {
      &:not(.disabled):hover {
        background-color: hsl(var(--color) / 1);
      }
    }
  }
}
