button {
  border-radius: calc(var(--radius) - 2px);
  white-space: nowrap;
  gap: 0.375rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  text-transform: none;
  padding: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;

  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.uppercase {
    text-transform: uppercase;
  }

  &:not(.dark):hover {
    color: hsl(var(--accent-foreground) / 1);
    background-color: hsl(var(--accent) / 1);

    img {
      filter: invert(100%);
    }
  }

  &.dark {
    color: hsl(var(--accent-foreground) / 1);

    img {
      filter: invert(100%);
    }

    &:hover {
      background-color: hsl(var(--accent) / 1);
    }
  }
}
