:host {
  form {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: flex-start;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }

    .question-container {
      display: flex;
      flex-direction: column;
      gap: 0.375rem;
      font-size: 0.75rem;

      .delay,
      .display {
        height: 2rem;
      }

      label {
        color: hsl(var(--muted-foreground) / 1);
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 1rem;
        text-transform: capitalize;
      }

      .question-input {
        display: inline-flex;
        align-items: center;

        #questions {
          color: hsl(var(--foreground) / 1);
          font-size: 0.875rem;
          line-height: 1.25rem;
          text-align: center;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          background-color: hsl(var(--muted) / 1);
          border-color: hsl(var(--input) / 1);
          border-width: 1px;
          border-radius: calc(var(--radius) - 2px);
          width: 4rem;
          height: 2rem;
        }
      }
    }
  }
}
