:host {
  .centered {
    text-align: center;
  }

  .intro {
    margin: 0 0 2rem 0;
    font-size: 1rem;
    width: 85%;
    justify-self: center;

    span {
      font-size: 1rem;
    }
  }

  h2 {
    font-weight: bold;
    font-size: large;
  }

  hr {
    width: 50%;
    margin: 1.5rem auto;
  }

  .bye {
    margin-top: 2rem;
  }
}
