:host {
  margin-bottom: 2rem;

  .letter-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 0.5rem;
  }

  @media (min-width: 640px) {
    .letter-container {
      grid-template-columns: repeat(3, minmax(0px, 1fr));
    }
  }

  @media (min-width: 1024px) {
    .letter-container {
      grid-template-columns: repeat(5, minmax(0px, 1fr));
    }
  }
}
