:host {
  .panel {
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 25%;
    grid-template-areas:
      'settings summary'
      'actions actions';

    .left-panel {
      grid-area: settings;
    }

    .right-panel {
      grid-area: summary;
    }

    .actions {
      grid-area: actions;
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    .panel {
      grid-template-columns: 1fr;
      grid-template-areas:
        'settings'
        'summary'
        'actions';
    }
  }
}
