:host {
  display: flex;

  app-card {
    height: 100%;

    .card-content {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      text-align: center;
      color: hsl(var(--foreground) / 1);

      app-info-bubble {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        pointer-events: all;
      }

      div {
        width: 100%;
      }

      &.dark {
        filter: invert(100%);
      }
    }
  }
}
