<app-card [clickable]="clickable()" [isActive]="isActive() && activable()" (clicked)="selectLetter()" [color]="color()">
  <div class="card-content">
    @let l = letter(); @if (l.info) { @defer {
    <app-info-bubble [info]="l.info[appStoreService.language()]" />
    } } @if (letterUtilsService.isConsonant(l)) {
    <app-consonant [letter]="l" />
    } @else if (letterUtilsService.isVowel(l)) {
    <app-vowel [letter]="l" />
    } @else if (letterUtilsService.isNumeral(l)) {
    <app-numeral [letter]="l" />
    } @else if (letterUtilsService.isDiacritic(l)) {
    <app-diacritics [letter]="l" />
    } @else if (letterUtilsService.isTone(l)) {
    <app-tones [letter]="l" />
    }
  </div>
</app-card>
