<app-card [clickable]="clickable()" [isActive]="isActive() && activable()" (clicked)="selectLetter()" [color]="color()">
  <div class="card-content">
    @let l = letter(); @if (l.info) { @defer {
    <app-info-bubble [info]="l.info[appStoreService.language()]" />
    } } @if (letterUtilsService.isConsonant(l)) {
    <app-consonant [letter]="l" />
    } @else if (letterUtilsService.isVowel(l)) {
    <app-vowel [letter]="l" />
    } @else if (letterUtilsService.isNumeral(l)) {
    <app-numeral [letter]="l" />
    } @else if (letterUtilsService.isDiacritic(l)) {
    <app-diacritics [letter]="l" />
    } @else if (letterUtilsService.isTone(l)) {
    <app-tones [letter]="l" />
    }
  </div>
</app-card>

<!--    @let translit = letterUtilsService.getConsonantPositions(letter()); @let vowelPos =-->
<!--    letterUtilsService.getVowelPosition(letter());-->
<!--    <div class="sounds">-->
<!--      @if (translit) { @if (translit.initial) { {{ translit.initial }} } @else {-->
<!--      <img [class.dark]="appStoreService.isDarkThemeActive()" src="icons/line.svg" alt="n/a" />-->
<!--      }-->
<!--      <img [class.dark]="appStoreService.isDarkThemeActive()" src="icons/arrow-right.svg" alt="to" />-->
<!--      @if (translit.final) {-->
<!--      <span> {{ translit.final }} </span>-->
<!--      } @else {-->
<!--      <img [class.dark]="appStoreService.isDarkThemeActive()" src="icons/line.svg" alt="n/a" />-->
<!--      } } @else if (vowelPos) {-->
<!--      <div class="vowel-pos">-->
<!--        <span>-->
<!--          @if (vowelPos.includes(MEDIAL)) { M } @if (vowelPos.includes(MEDIAL) && vowelPos.includes(FINAL)) { | } @if-->
<!--          (vowelPos.includes(FINAL)) { F }-->
<!--        </span>-->
<!--      </div>-->
<!--      }-->
<!--    </div>-->

<!--    <div class="status">-->
<!--      @if (letter().live !== null) { @if (letter().live) {-->
<!--      <app-status-badge class="green">-->
<!--        @if (appStoreService.isDarkThemeActive()) {-->
<!--        <img src="icons/lighting-dark.svg" alt="live" />-->
<!--        } @else {-->
<!--        <img src="icons/lighting.svg" alt="live" />-->
<!--        } {{ 'letters.live' | translate }}-->
<!--      </app-status-badge>-->
<!--      } @else {-->
<!--      <app-status-badge class="red">-->
<!--        @if (appStoreService.isDarkThemeActive()) {-->
<!--        <img src="icons/lighting-slashed-dark.svg" alt="dead" />-->
<!--        } @else {-->
<!--        <img src="icons/lighting-slashed.svg" alt="dead" />-->
<!--        } {{ 'letters.dead' | translate }}-->
<!--      </app-status-badge>-->
<!--      } }-->
<!--    </div>-->
