@let totalCount = stateService.totalCount(); @let totalQuestions = quizPreparationService.quizSettings().questions;

<app-extension-panel>
  <div class="bar" ngProjectAs="bar">
    <div class="left-section">
      <span class="count" [class.highlighted]="totalCount > 0">{{ totalCount }}</span>
      <span class="selected">
        @if (totalCount > 1) { {{ 'quiz.selecteds' | translate }} } @else { {{ 'quiz.selected' | translate }} }</span
      >
      <span class="count"
        >{{ quizPreparationService.quizSettings().delay }}@if (quizPreparationService.quizSettings().delay) { s }</span
      >
      <span class="count"
        >{{ quizPreparationService.quizSettings().questions }} @if (totalQuestions > 1) { {{ 'quiz.questions' |
        translate }} } @else { {{ 'quiz.question' | translate }} }</span
      >
    </div>
    <div class="right-section">
      <app-button
        [dark]="themeService.isDarkThemeActive()"
        [icon]="'icons/settings.svg'"
        [text]="'app.settings' | translate "
      ></app-button>
      <app-button
        [dark]="themeService.isDarkThemeActive()"
        [icon]="'icons/play.svg'"
        [text]="'quiz.start' | translate "
      ></app-button>
    </div>
  </div>

  <div class="panel" ngProjectAs="panel">
    <div class="left-section">
      <span class="count" [class.highlighted]="totalCount > 0">{{ totalCount }}</span>
      <span class="selected">{{ 'quiz.selected' | translate }}</span>
      <span class="count">{{ quizPreparationService.quizSettings().delay }}@if (totalCount > 0) { s }</span>
      <span class="count"
        >{{ quizPreparationService.quizSettings().questions }} {{ 'quiz.questions' | translate }}</span
      >
    </div>
    <div class="right-section">
      <app-button
        [dark]="themeService.isDarkThemeActive()"
        [icon]="'icons/settings.svg'"
        [text]="'app.settings' | translate "
      ></app-button>
      <app-button
        [dark]="themeService.isDarkThemeActive()"
        [icon]="'icons/play.svg'"
        [text]="'quiz.start' | translate "
      ></app-button>
    </div>
  </div>
</app-extension-panel>
