:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
  padding: 0 1rem 1rem 1rem;

  .bar,
  .panel {
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .left-section,
  .right-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .left-section {
    gap: 0.75rem;
  }

  .right-section {
    gap: 0.5rem;
  }

  //
  //.panel-container {
  //  border-width: 1px;
  //  max-width: 80rem;
  //  margin-left: auto;
  //  margin-right: auto;
  //}
}
