@if (isConsonant()) {
<p class="trad">
  {{ letter().exampleWord.roman }}
  <br />
  <span>{{ letter().exampleWord[i18nService.activeLanguage()] }}</span>
</p>

@let cClass = consonantClass(); @if (cClass) {
<app-quiz-info-line [label]="'quiz.class' | translate"> {{ `quiz.${cClass}` | translate }} </app-quiz-info-line>
} } @else if (isVowel()) { @let vType = vowelType(); @if (vType) {
<app-quiz-info-line [label]="'quiz.type' | translate"> {{ `quiz.${vType}` | translate }} </app-quiz-info-line>
} @let vPos = vowelPosition(); @if (vPos) {
<app-quiz-info-line [label]="'quiz.position' | translate">
  @if (vPos.includes(MEDIAL)) { {{ 'quiz.medial' | translate }} } @if (vPos.includes(MEDIAL) && vPos.includes(FINAL)) {
  | } @if (vPos.includes(FINAL)) { {{ 'quiz.final' | translate }} }
</app-quiz-info-line>
} }
