:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .trad {
    margin-bottom: 2rem;
    font-size: large;
    font-weight: 600;

    span {
      font-weight: normal;
      font-style: italic;
      font-size: small;
    }
  }

  app-quiz-info-line {
    margin-bottom: 1rem;
  }
}
