<form [formGroup]="quiz">
  <div class="question-container">
    <label for="questions">{{ 'quiz.questions' | translate }}</label>
    <input
      id="questions"
      type="number"
      [min]="QUIZ_FORM_BASE_CONF.questions.min"
      [max]="QUIZ_FORM_BASE_CONF.questions.max"
      formControlName="questions"
    />
  </div>
  <div class="question-container">
    <label for="delay">{{ 'quiz.delay' | translate }}</label>
    <select name="delay" id="delay" formControlName="delay">
      @for (delay of QUIZ_FORM_BASE_CONF.delay; track delay) {
      <option [value]="delay">{{ delay }}</option>
      }
    </select>
  </div>
  <div class="question-container">
    <label for="character-display">{{ 'quiz.character-display' | translate }}</label>
    <mat-radio-group id="character-display" name="character-display" formControlName="display">
      @for (option of QUIZ_FORM_BASE_CONF.display; track option) {
      <mat-radio-button [value]="option.value">{{ option.label | translate }}</mat-radio-button>
      }
    </mat-radio-group>
  </div>
</form>
