:host {
  .question-container {
    display: flex;
    margin-bottom: 0.75rem;
    align-items: center;

    label {
      font-size: 1rem;
      margin-bottom: 0.25rem;
      margin-right: 0.5rem;
    }

    input,
    select {
      padding: 0.25rem;
      border: 2px solid var(--color-blue);
      border-radius: var(--mat-sys-corner-medium);
      width: fit-content;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
