:host {
  position: sticky;
  top: 0;
  border-bottom-width: 1px;
  background-color: hsl(var(--background) / 0.8);
  z-index: 50;

  div {
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    height: 3.5rem;

    .title-container {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      .title,
      .subtitle {
        margin: 0;
      }

      .title {
        color: hsl(var(--foreground) / 1);
        font-weight: 600;
        letter-spacing: -0.025em;

        @media (min-width: 640px) {
          display: inline;
        }
      }

      .subtitle {
        color: hsl(var(--foreground-muted) / 1);
        font-weight: 300;
      }
    }

    .menu-container {
      gap: 0.25rem;
      align-items: center;
      display: flex;
    }
  }
}
