:host {
  display: block;
  height: 100%;

  mat-card.letter {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    border-left: 0.2rem solid var(--card-color);
    box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.15);
    background: var(--color-neutral-100);

    &.clickable {
      cursor: pointer;
    }

    &.isActive {
      border-right-color: var(--card-color);
      border-top-color: var(--card-color);
      border-bottom-color: var(--card-color);

      mat-card-content {
        &::after {
          content: '✓';
          position: absolute;
          top: 0.25rem;
          right: 0.25rem;
          color: var(--mat-sys-background);
          width: 1.25rem;
          height: 1.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          font-weight: bold;
          background: var(--color-green-70);
          border-radius: 50%;
          animation: 0.3s ease-out 0s 1 normal none running checkmark;
        }
      }
    }

    &:hover.clickable {
      transform: translateY(-0.15rem);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      border-color: var(--card-color);
    }

    .card-content {
      padding: 0.5rem;
      position: relative;
      height: 100%;
      display: grid;

      .state-icons {
        position: absolute;
        left: 0.25rem;
        top: 0.25rem;
        display: flex;
        flex-direction: column;

        .mat-icon {
          color: var(--card-color);
          height: 1.25rem;
          width: 1.25rem;
          font-size: 1.25rem;

          &.dead,
          &.outdated {
            opacity: 0.75;
            color: var(--color-neutral);
          }
        }
      }

      .big-letter {
        font-size: 3.5rem;
        font-weight: 400;
        margin: 2rem 0 1.5rem 0;
      }

      .name {
        margin: 0.25rem 0.5rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--card-color);
        white-space: nowrap;

        span {
          font-weight: 300;
          font-style: italic;
        }
      }

      .vowel-pos {
        font-weight: 900;
        color: var(--color-neutral-50);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;

        span {
          margin: 0 0.25rem;
        }

        .infos {
          color: var(--card-color);
          height: 1rem;
          width: 1rem;
          font-size: 1rem;
          margin: 0;
        }
      }

      .translit {
        margin: 0 0 0.25rem 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--color-neutral-50);

        mat-icon {
          height: 1rem;
          width: 1rem;
          font-size: 1rem;
          margin-left: 0.25rem;
        }
      }

      .infos {
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: center;
        margin-top: 0.25rem;

        p {
          margin: 0;
          font-size: 0.75rem;
          line-height: normal;
        }

        .mid-letter {
          height: 100%;
          font-size: 1.25rem;
          color: var(--card-color);
          font-weight: 300;
          margin: 0;
          line-height: inherit;
          text-align: left;
          align-content: flex-end;
        }

        .trad {
          text-align: right;
        }
      }
    }
  }
}
