<mat-card
  class="letter"
  [class.clickable]="clickable()"
  [class.isActive]="isActive() && clickable()"
  (click)="toggleLetter()"
  (keyup)="toggleLetter()"
>
  <mat-card-content class="card-content">
    <div class="state-icons">
      @if (isOutdated()) {
      <mat-icon
        class="material-symbols-outlined outdated"
        [matTooltip]="'letters.outdated' | translate"
        matTooltipShowDelay="300"
        matTooltipHideDelay="100"
        matTooltipPosition="above"
        >inventory_2
      </mat-icon>
      } @else if (letter().live) {
      <mat-icon
        class="material-symbols-filled live"
        [matTooltip]="'letters.live' | translate"
        matTooltipShowDelay="300"
        matTooltipHideDelay="100"
        matTooltipPosition="above"
        >air
      </mat-icon>
      } @else if (!letter().live) {
      <mat-icon
        class="material-symbols-outlined dead"
        [matTooltip]="'letters.dead' | translate"
        matTooltipShowDelay="300"
        matTooltipHideDelay="100"
        matTooltipPosition="above"
        >air
      </mat-icon>
      }
    </div>
    <h1 class="big-letter noto-serif-thai-normal">{{ letter().character.thai }}</h1>
    <p class="name">{{ letter().character.roman }} <span>{{ letter().exampleWord.roman }}</span></p>
    @let transliteration = hasTransliteration(); @if (transliteration) {
    <p
      class="translit"
      [matTooltip]="'letters.sound-as-final' | translate"
      matTooltipShowDelay="300"
      matTooltipHideDelay="100"
      matTooltipPosition="above"
    >
      @if (transliteration.final) { {{ transliteration.initial }} } @else {
      <mat-icon
        class="material-symbols-outlined"
        [matTooltip]="'letters.never-final' | translate"
        matTooltipShowDelay="300"
        matTooltipHideDelay="100"
        matTooltipPosition="above"
        >block
      </mat-icon>
      }
    </p>
    } @let vowelPosition = hasVowelPosition(); @if (vowelPosition) {
    <div class="vowel-pos">
      @if (vowelPosition.includes(MEDIAL)) {
      <span
        [matTooltip]="'letters.medial' | translate"
        matTooltipShowDelay="300"
        matTooltipHideDelay="100"
        matTooltipPosition="above"
        >M</span
      >
      } @if (vowelPosition.includes(MEDIAL) && vowelPosition.includes(FINAL)) { | } @if (vowelPosition.includes(FINAL))
      {
      <span
        [matTooltip]="'letters.final' | translate"
        matTooltipShowDelay="300"
        matTooltipHideDelay="100"
        matTooltipPosition="above"
        >F</span
      >
      } @if (this.letter().infos) {
      <mat-icon
        class="material-symbols-outlined infos"
        [matTooltip]="this.letter().infos | translate"
        matTooltipShowDelay="300"
        matTooltipHideDelay="100"
        matTooltipPosition="above"
        >info
      </mat-icon>
      }
    </div>
    }
    <div class="infos noto-serif-thai-normal">
      <p class="mid-letter">{{ letter().exampleWord.thai }}</p>
      <p class="roboto-normal trad">{{ letter().exampleWord[i18nService.activeLanguage()] }}</p>
    </div>
  </mat-card-content>
</mat-card>
