:host {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;

  .counter {
    color: hsl(var(--muted-foreground) / 1);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;

    .darker {
      color: hsl(var(--foreground) / 1);
    }
  }
}
