:host {
  margin-bottom: 1rem;

  .tab-label {
    font-size: medium;
    font-weight: bold;
  }

  app-cards-container {
    display: block;
    margin-top: 5rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}
