<mat-tab-group mat-stretch-tabs class="shadow-box">
  <mat-tab [label]="'app.consonants' | translate">
    @for (list of dataService.getAllConsonantsSorted() | keyvalue: keepOrder; track list.key) { {{ list.key }}
    <app-cards-container [list]="list.value" [color]="TypeClassColorsMap[list.value[0].class]"></app-cards-container>
    }
  </mat-tab>
  <mat-tab [label]="'app.vowels' | translate">
    @for (list of dataService.getAllVowelsSorted() | keyvalue: keepOrder; track list.key) {
    <app-cards-container [list]="list.value" [color]="TypeClassColorsMap[list.value[0].type]"></app-cards-container>
    }
  </mat-tab>
</mat-tab-group>
