:host {
  --tw-text-opacity: 1;
  font-weight: 600;
  padding: 0.125rem 0.375rem;
  border-radius: 9999px;
  gap: 0.125rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  background-color: inherit;
}
