:host {
  display: inline-flex;
  gap: 1rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;

  button {
    cursor: pointer;
    border: 1px solid hsl(var(--foreground) / 0.25);
    border-radius: 9999px;
    background-color: hsl(var(--background) / 1);
    white-space: nowrap;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;

    img {
      width: 1.25rem;
      height: 1.25rem;
    }

    &.disabled {
      opacity: 0.25;
      pointer-events: none;
      border: none;
    }

    &.bigger {
      width: 3.5rem;
      height: 3.5rem;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    @media (pointer: fine) {
      &:not(.dark):not(.disabled):hover {
        color: hsl(var(--accent-foreground) / 1);
        background-color: hsl(var(--accent) / 1);
        border-color: hsl(var(--accent) / 1);

        img {
          filter: invert(100%);
        }
      }
    }

    &.dark {
      color: hsl(var(--accent-foreground) / 1);

      img {
        filter: invert(100%);
      }

      @media (pointer: fine) {
        &:not(.disabled):hover {
          background-color: hsl(var(--accent) / 1);
        }
      }
    }
  }
}
