:host {
  .kind-title {
    position: relative;
    display: flex;
    width: fit-content;
    border: 2px solid transparent;
    border-left: 0.2rem solid var(--card-color);
    border-radius: var(--mat-sys-corner-medium);
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    margin: 0 0 1rem 0;
    color: var(--card-color);
    font-size: large;
    font-weight: bold;
    align-items: center;

    button {
      margin: 0 0 0 1rem;
      background: var(--card-color);
      color: var(--color-neutral-100);
    }

    &:before {
      content: '';
      position: absolute;
      border-radius: var(--mat-sys-corner-extra-small) var(--mat-sys-corner-medium) var(--mat-sys-corner-medium)
        var(--mat-sys-corner-extra-small);
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--card-color);
      opacity: 0.15;
    }
  }

  .cards-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  }
}
