:host {
  display: inline-flex;
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: center;

  button {
    margin-right: 1rem;
  }

  @media (max-width: 1280px) {
    margin-top: 0;
  }
  @media (max-width: 768px) {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
