:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;

  .shadow-box {
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-100);
    width: 100%;

    button {
      margin: 0 1rem;
      border-radius: 100%;
      box-shadow: none;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      &.outlined {
        color: var(--color-blue);
        background: var(--color-neutral-100);
        border: 2px solid var(--color-blue);
        transform: scale(90%);
      }

      &.filled {
        height: auto;
        width: auto;
        padding: 0.5rem;
        color: var(--color-neutral-100);
        background: var(--color-blue-50);
      }

      &.mat-mdc-button-disabled {
        color: var(--color-neutral-80);
        background: var(--color-neutral-90);
        border: 2px solid var(--color-neutral-80);
      }

      mat-icon {
        font-size: 3rem;
        width: auto;
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    display: grid;

    .shadow-box {
      width: -webkit-fill-available;
      justify-self: center;
    }
  }
}
