:host {
  display: flex;
  flex-direction: column;

  .shadow-box {
    padding: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-100);

    button {
      margin: 0 1rem;
      border-radius: 100%;
      box-shadow: none;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      &.outlined {
        color: var(--color-blue);
        background: var(--color-neutral-100);
        border: 2px solid var(--color-blue);
        transform: scale(90%);
      }

      &.filled {
        height: auto;
        width: auto;
        padding: 0.5rem;
        color: var(--color-neutral-100);
        background: var(--color-blue-50);
      }

      mat-icon {
        font-size: 3rem;
        width: auto;
      }
    }
  }
}
