:host {
  width: 100%;

  button {
    padding: 0.75rem;
    text-align: left;
    background-color: hsl(var(--card) / 1);
    border-radius: var(--radius);
    overflow: hidden;
    width: 100%;
    display: flex;
    text-transform: none;
    pointer-events: none;

    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --shadow: 0 1px 2px 0 #0000000d;
    --shadow-colored: 0 1px 2px 0 var(--shadow-color);
    box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);

    &.clickable {
      pointer-events: auto;
      cursor: pointer;

      &:active {
        --scale-x: 0.98;
        --scale-y: 0.98;
        transform: scaleX(var(--scale-x)) scaleY(var(--scale-y));
      }

      @media (pointer: fine) {
        &:hover {
          --shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
          --shadow-colored: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
          box-shadow: var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000), var(--shadow);
        }
      }
    }

    &.active {
      border-left: 2px solid hsl(var(--accent) / 0.5);
    }
  }
}
