:host {
  .tab {
    display: none;
    flex-direction: column;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    animation-duration: 0s;

    &.visible {
      display: flex;
    }
  }
}
